/* CSS files add styling rules to your content */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #faf8f8;
}

/*navgiation bar*/
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: n18e;
}
a:hover,
a:active {
  text-decoration: none;
}
.table-of-contents a {
  color: black;
  font-weight: 800;
  margin-right: 50px;
  float: right;
  padding: 0px -40px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  font-size: 16px;
  font-family: filson-pro, sans-serif;
  font-weight: normal;
}

.table-of-contents a:hover {
  color: #37b7ff;
  border-bottom: 1px solid #37b7ff;
}

*/ .project-list {
  padding: 0;
}
.project-list li {
  list-style: none;
}

.title {
  margin-top: 100px;
}

.head {
  font-size: 64px;
}

.case-study {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 1em;
}

.case-study > * {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "New-Spirit";
  color: #37b7ff;
  font-size: 30px;
}

h2 {
  font-family: filson-pro, sans-serif;
  font-weight: normal;
  line-height: 1.6;
  font-size: 20px;
}

h3 {
  font-family: filson-pro, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.first img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gallery1 img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
}

.gallery2 img {
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper2 {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.head,
.info {
  text-align: center;
}

mark.blue {
  color: #37b7ff;
  background: none;
}

mark.blue2 {
  color: black;
  background: #99daff;
}

.section {
  margin-bottom: 100px;
  max-width: 100%;
  display: block;
  height: auto;
}

.feature img {
  max-width: 100%;
  display: block;
  height: auto;
}

.over img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
  width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.guide img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50px;
  width: 800px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.intro {
  display: inline-flex;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.intro1 {
  display: inline-flex;
  margin-top: -100px;
  margin-bottom: -10px;
  margin-left: 100px;
  margin-right: 100px;
}

h4 {
  font-family: filson-pro, sans-serif;
  font-size: 24px;
  padding: 0px 100px;
  color: #37b7ff;
  display: flex;
}

h5 {
  font-family: "New-Spirit";
  font-weight: 600;
  padding: 0px 100px;
  color: black;
  font-size: 54px;
  display: flex;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  border-style: solid;
  transition: transform 0.6s; /* Animation */
}

.gallery-image:hover {
  transform: scale(1.1);
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
  }
}

@supports (display: grid) {
  .gallery2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery2,
  .gallery-item {
    margin: 50px;
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  border-style: solid;
}

.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  width: 100%;
  border: none;
  height: 100%;
  opacity: 0.5;
  font-family: filson-pro, sans-serif;
  line-height: 400px;
  text-align: center;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  opacity: 0;
  border-radius: 30px;
  box-shadow: 10px 10px 39px 0px rgba(173, 173, 173, 0.72);
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 10;
}

.button {
  border-radius: 35px;
  padding: 20px;
  width: 200px;
  height: 70px;
  margin-top: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  float: left;
  font-family: filson-pro, sans-serif;
  margin-left: 190px;
  background-color: #37b7ff;
  color: white;
}

.button1 {
  border-radius: 35px;
  padding: 20px;
  width: 200px;
  height: 70px;
  margin-top: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  float: left;
  font-family: filson-pro, sans-serif;
  background-color: #37b7ff;
  color: white;
}

.button:hover {
  background-color: white;
  color: #37b7ff;
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.22);
}

.button1:hover {
  background-color: white;
  color: #37b7ff;
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.22);
}



.buttons {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
}

.about {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 1em;
}


#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-left: -40px;
  /* negative value of footer height */
  clear: both;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  height: 15px;
  margin: 5px 2px;
  border-radius: 70px;
  margin-bottom: 20px
}

.fa:hover {
    opacity: 0.7;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-left: 100px;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}